* {
  font-family: 'Poppins';
}



/*  Header -------------*/
.second-header {
  background: #003F62;
}

.logo {
  width: 250px;
}

.button {
  margin-left: -50px;
  padding: 16px 40px;
  background: #EDA415;
}

.cate {
  background: #EDA415;
}

.popularPRO {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.card-style {
  width: 19rem;
  padding: 30px;
  margin: 10px;
  flex-direction: column;
  position: relative;
}

.card-image {
  height: 200px;
  padding: 20px
}

.text-container {
  width: 35%;
  padding: 150px 80px 0 80px;
}

.carousel-container {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
}

.carousel-img {
  width: 500px;
  margin: 9% 5%;
  /* padding: 50px 0 0 50px; */
}

.circle-price {
  width: 100px;
  height: 100px;
  background-color: #EDA415;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  right: 10%;
  padding: 20px;
  font-size: 23px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.Slider .alice-carousel__next-btn-wrapper,
.Slider .alice-carousel__prev-btn-wrapper {
  display: none;
}

.slidercontainer {
  position: relative;
}

.slidercontainer .alice-carousel__next-btn-item {
  font-size: 25px;
  background: #EAEAEA;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 25%;
  right: 0%;
}

.slidercontainer .alice-carousel__prev-btn-item {
  font-size: 25px;
  background: #EAEAEA;
  width: 45px;
  text-align: center;
  border-radius: 50px;
  position: absolute;
  top: 25%;
  left: 0%;
}

.alice-carousel .alice-carousel__dots .alice-carousel__dots-item {
  width: 15px;
  height: 15px;
  border: 1px solid #ADADAD;
  background-color: white;
}

.alice-carousel__dots .alice-carousel__dots-item:not(.__custom).__active {
  background: #EDA415;
}

.slidercontainer .alice-carousel__dots .alice-carousel__dots-item {
  display: none;
}

.text-font {
  color: #1B5A7D;
  font-size: 43px;
  width: 30px;
  padding-bottom: 20px;
}

.img-container {
  padding-left: 150px;
  position: relative;
}

.btn1 {
  background: #EDA415;
  color: white;
  padding: 15px;
  border-radius: 20px;
  margin-right: 10px;
}

.btn2 {
  padding: 15px;
  background: white;
  border-radius: 20px;
}

.sliderPic {
  width: 100px;
}

.slider-container {
  width: 400px;
  height: 180px;
  padding: 30px 20px;
  margin: 10px;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 0.375rem;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;

}

.slidertext-color {
  color: #1B5A7D;
  padding: 10px;
}

.slidertext-color h4 {
  font-weight: 700;
}

.secondtitle-container {
  display: flex;
  margin: 30px 40px;
}

.btn-click {
  color: #1B5A7D;
  background-color: white;
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  margin: 0 10px;
  border: 1px solid var(--bs-border-color-translucent);
}

.innertext {
  margin: 5% 0 0 50%;
  text-align: center;
}

.card-btn {
  background: #EDA415;
  padding: 10px 30px;
  color: white;
  border-radius: 20px;
}

.onecard-title {
  color: #2E8FC5;
  font-size: 41px;
  font-weight: 700;
  line-height: 61.5px;
  margin-top: 30px;
}

.onecard-text {
  color: white;
  font-size: 18px;
  margin-bottom: 30px;
}

.cart-container {
  position: relative;
}

.cart {
  position: absolute;
  top: 50%;
  right: 7px;
  background: #EDA415;
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
}

/*=============================================================*/

.popularPRO .alice-carousel__next-btn-wrapper,
.popularPRO .alice-carousel__prev-btn-wrapper {
  display: none;
}

.color-circle {
  background: #EDA415;
}

.threeproduct {
  display: flex;
  margin: 4% 0;
}

.thirdsection-container .card {
  border: none;
}

.one-product {
  width: 750px;
  margin: 2% 4% 0 0;
}

.oneproduct-container {
  padding: 26px;
}

.twoproduct-container {
  margin: 5% 0;
}

.two-product {
  width: 550px;
  height: 250px;
}

.twoproduct-inside {
  display: flex;
  padding: 20px;
}

.one-product .card-img,
.card-img-bottom,
.card-img-top {
  width: 400px;
  margin: auto;
}

.button-container {
  background: #87BCD9;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
}

.button-circle {
  background: #EDA415;
  color: white;
  padding: 8px 12px;
  border-radius: 20px;
  margin-left: 20px;
}

.fourthsect-container {
  background: #E2F4FF;
  border-radius: 20px;
}

.inside-fourthcontainer {
  margin: 50px 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-fourthcontainer h4,
.inside-fourthcontainer p {
  color: #003F62;
}


.profile-container .card {
  margin: 15% 10px 0 10px;
  width: 410px;
  padding: 20px;
}

.profile-main {
  display: flex;
  justify-content: space-around;
}

.profile-main h4 {
  margin: auto;
}

.profile-main img {
  border: 2px dashed #EDA415;
  border-radius: 50%;
  padding: 5px;
  width: 80px;
}

.profile-text {
  background: #E2F4FF;
  padding: 20px;
  margin-top: 15px;
  border-radius: 20px;
}

.profile-container .alice-carousel__next-btn-wrapper,
.profile-container .alice-carousel__prev-btn-wrapper {
  display: none;
}

.logo-container {
  background: #E2F4FF;
  display: flex;
  margin: 40px 0;
  padding: 50px 0;
  border-radius: 20px;
}

.news-container {
  margin: 4% 0 3% 0;
}

.innernews-container {
  display: flex;
  margin: 20px;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 20px;
  padding: 30px;
}

.news-img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.news-text {
  padding: 20px;
}

.news-container .alice-carousel__next-btn-wrapper,
.news-container .alice-carousel__prev-btn-wrapper {
  display: none;
}

.news-header {
  display: flex;
  justify-content: space-between;
  color: #1B5A7D;
}

.footer-container {
  background: #E2F4FF;
  height: 500px;
  padding: 42px 0;
}

.insidefooter-container {
  background: #FFFFFF;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

.insidefooter-container h3 {
  color: #1B5A7D;
  font-weight: 700;

}

.input-container {
  position: relative;
}

.input-container input {
  background: #EDA415;
  border-radius: 20px;
  color: white;
  width: 388px;
  padding: 10px;
}

.input-container button {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #EDA415;
  border: none;
}

.contact-container {
  display: flex;
  width: 300px;
  padding: 10px;
}

.contact-container img {
  padding: 30px;
}

.contact-container p {
  padding: 30px 10px 0 0;
}

.date {
  border: 1px solid black;
  width: 100px;
  padding: 5px;
  border-radius: 20px;
}

.footerabout-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  color: #1B5A7D;

}

.aboutcontact-container {
  width: 250px;
}

.list-text {
  font-size: 19px;
}

.list-text li {
  margin: 13px 0;
}

.star-svg {
  width: 30px;
}

.btn-heart {
  width: 40px;
  padding: 10px;
  border: none;
  background: #B3D4E5;
  border-radius: 20px;
  position: absolute;
  right: 40px;
  top: 55px;
}

/* .second-header{
  position: relative;
} */


.secondheader-container{
  position: relative;
}

/*-------------------------Detail Page -----------------------*/
.dmain-title {
  color: #003F62;
  font-weight: 500;
  font-size: 29.6765px;
}

.mainfaint-text {
  color: #5D5D5D;

}

.d-btn {
  padding: 15px 25px;
  background: #EDA415;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 20px 20px 15px 0;
  width: 200px;
  font-size: 19px;
  font-weight: 700;
}

.d-heart {
  font-size: 25px;
  padding: 15px 18px;
  background: #EEEEEE;
  border-radius: 80px;
}

.d-size {
  display: flex;
  background-color: #EEEEEE;
  padding: 5px 10px;
  margin: 0 10px;
}

.d-category {
  color: #434343;
  padding: 0 10px;
}

.d-logo {
  margin-top: -10px;
  padding: 0 15px;
}

.d-card {
  width: 300px;
  margin: 15px;
  border: 1px solid var(--bs-border-color-translucent);
  border-radius: 20px;
}

.dcard-image {
  height: 200px;
  padding: 20px;
}

.d-onecard-image {
  height: 200px;
  padding: 20px 60px;
}

.d-body{
  padding: 5px 20px;
}

.d-card .star-svg{
  width: 25px;
  margin-top: -10px;
}

.d-card-title{
  color: #003F62;
  font-size: 17.0939px;
  line-height: 26px;
}

.d-circlebtn {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 0 10px;
}

.d-card-text{
  font-weight: 600;
  font-size: 17.09px;
  line-height: 25.64px;
}

.d-colorbtn {
  background: #D0EC48;
}

.d-secondcolorbtn {
  background: #565656;
}

.d-containerbtn {
  padding: 10px 20px;
}

.d-containerbtn {
  width: 187px;
  border-radius: 20px;
  margin: 10px;
  font-size: 20px;
}

.btn-color1 {
  background-color: white;
}

.btn-color2 {
  background: #003F62;
  color: white;
}

.review-container {
  border: 1px solid var(--bs-border-color-translucent);
  margin: 15px;
  border-radius: 20px;
  height: 200px;
  padding: 30px;
}

.review-title {
  color: #003F62;
  font-weight: 600;
}

.review-text {
  color: #4F4F4F;
}

.review-btn {
  background: #003F62;
  color: white;
}

.btn-eye{
  font-size: 25px;
  height: 58px;
  width: 60px;
  background: #87BCD9;
  margin: 0 0 0 20px;
  border-radius: 10px;
  border: none;
}

.d-button-container{
  background: #87BCD9;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
}

.d-related-text{
  padding: 50px 0px 10px 10px;
  color: #1B5A7D;
  font-weight: 600;
}

.d-product-section{
  margin: 20px 0 80px 0;
}

.wishlistcart{
  background-color: white;
  color: black;
  /* position: absolute;
  width: 400px;
  top: 100px; */
  right: 50px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  width: 400px;
}

.cartContainer{
  display: flex;
  border: 1px solid var(--bs-border-color-translucent);
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}

.cart-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 100px;
  padding: 10px;
}

.cartContainer .star-svg{
  width: 20px;
  margin-top: -10px;
}

.cartContainer h5{
  width: 100px;
}

.cart-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: white;
  color: red;
  font-size: 25px;
}

.dropdown-btn .btn-primary{
  background: #003F62;
  border: none;
  padding: 0px;
}


/* ------------------------Sign Up Page----------------------------------*/
.sign-container{
  /* margin: 100px 600px; */
  width: 400px;
}

.sign-container h1{
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

.sign-container input{
  width: 360px;
  padding: 10px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  border: 1px solid var(--bs-border-color-translucent);
}

.sign-container button{
  width: 360px;
  padding: 10px 50px;
  background: #7F56D9;
  border-radius: 8px;
  color: white;
}

.link-color{
  color: #6941C6;
  text-decoration: none;
}

.sign-container p{
  color: #667085;
}

